
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="logo" class="fa fa-hand-o-right">Logo</span>
    <div id="nav1">
      <a mat-button><span class="fa fa-home fa-lg"></span> Home</a>
      <a mat-button><span class="fa fa-info fa-lg"></span> About</a>
      <a mat-button><span class="fa fa-heart fa-lg"></span> Favorite</a>
      <a mat-button><span class="fa mat-form-field-appearance-legacy fa-lg">Signup</span></a>
      <a mat-button><span class="fa fa-sign-in fa-lg">Login</span></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
