<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <span id="logo" class="fa fa-hand-o-right">Logo</span>
      <button mat-button routerLink="index"><mat-icon>home</mat-icon>Home</button>
      <a mat-button routerLink="/"><span class="fa fa-info fa-lg"></span>About Us</a>
      <a mat-button><span class="fa fa-heart fa-lg"></span>Favorite</a>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="login">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <a mat-button routerLink="signup"><span class="fa fa-sign-in fa-lg"></span>Signup</a>
  </div>
</mat-toolbar>

