<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <span id="logo" class="fa fa-hand-o-right">Logo</span>
      <button mat-button routerLink=""><mat-icon>home</mat-icon>Home</button>
      <a mat-button routerLink="/"><span class="fa fa-info fa-lg"></span>About Us</a>
      <a mat-button><span class="fa fa-heart fa-lg"></span>Favorite</a>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <a *ngIf="isLogged" mat-button routerLink="/add-product"><span class="material-icons">library_add</span>Add</a>
    <button *ngIf="!isLogged" mat-button routerLink="/login">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <a *ngIf="!isLogged" mat-button routerLink="/signup"><span class="fa fa-sign-in fa-lg"></span>Signup</a>
    <a *ngIf="isLogged" mat-button routerLink="/profile"><span class="fa fa-male fa-lg"></span>Profile</a>
    <a *ngIf="isLogged" mat-button routerLink="/login"><span class="fa fa-sign-in fa-lg"></span>Logout</a>
    <span class="material-icons">shopping_cart</span>
  </div>
</mat-toolbar>
<mat-toolbar>
  <app-categories></app-categories>
  <app-search-bar></app-search-bar>
</mat-toolbar>
