<footer class="mt-6 bg-gray-light">
  <div class="container-xl p-responsive">
    <div class="d-flex flex-wrap pt-5">
      <div class="col-6 col-lg-2 mb-3 mb-md-2 ">
        <div class="pr-3 pr-md-0 pl-md-4">
          <h2 class="h5 mb-3">
            Useful
          </h2>
          <ul class="list-style-none f5">
            <li class="lh-condensed mb-3">
              <a routerLink="/" class="link-gray"></a>
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/" class="link-gray ">Price List</a>
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/" class="link-gray ">Secure</a>
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/" class="link-gray ">Forum</a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-2 mb-3 mb-md-2">
        <div class="pr-3 pr-md-0 pl-md-4">
          <h2 class="h5 mb-3">
            Legal
          </h2>
          <ul class="list-style-none f5">
            <li class="lh-condensed mb-3">
              <a routerLink="/legal/user-agreement" class="link-gray "
              >User Agreement</a
              >
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/legal/privacy-policy" class="link-gray "
              >Privacy Policy</a>
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/legal/cookie-policy" class="link-gray "
              >Cookie Policy</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-2 mb-3 mb-md-2">
        <div class=" pr-3 pr-md-0 pl-md-4">
          <h2 class="h5 mb-3">
            Company
          </h2>
          <ul class="list-style-none f5">
            <li class="lh-condensed mb-3">
              <a routerLink="/about" class="link-gray ">About Us</a>
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/blog" class="link-gray ">Blog</a>
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/about/careers" class="link-gray">Support</a>
            </li>
            <li class="lh-condensed mb-3">
              <a routerLink="/contact" class="link-gray">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
    <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
    <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
    <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
    <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
    <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
  </div>
  <p>&copy; All rights reserved for <i>auction-website</i> -Made in Tallinn-2020</p>
</footer>

