<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid-item">
    <div>
      <img class="product-image"
           src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
           alt="Lisbon">
      <h3>Lisbon</h3>
      <div class="city-feature">
        1600+ happy eaters
      </div>
      <div class="city-feature">
        60+ top chefs
      </div>
      <div class="city-feature">
        <a href="#">@omnifood_lx</a>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
