<div class="row">
  <div class="col-md-7">
    <div class="item-image">
      <img>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div>
      <p></p>
      <p></p>
    </div>
    <div>


      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="number">
          <mat-error>Entire Correct Value</mat-error>
        </mat-form-field>
        <button mat-button type="submit" color="primary">Bid</button>
      </form>



    </div>
  </div>
</div>
<div class="row">
  <div class="alert alert-danger"></div>
  <div class="alert alert-primary"></div>
</div>
