/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.product-image {

  border-radius: 10%;
  width: 100px;
  height: 150px;
}
